.login-body{
    background-image: url("/images/main_layer1.png");
}

.content{
    width: 100%;
    height: 960px;
    position: relative;
    z-index: 1000;
    background-image: url("/images/main_layer3.png");
    background-size: 100% 960px;
}

.top-bar-text{
    font-size: 24px;
}

.nav{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    position: relative;
    z-index: 1000;
    clear: both;
}

.top-bar-container{
    margin-top: 28px;
}

.login-container{
    position: relative;
    height: 450px;
    box-shadow: 0 2px 15px rgba(0,0,0,.15);
    background-color: #fff;
    margin-top: 60px;
}

.identity{
    height: 52px;
    border: 1px solid #d8d8d8;
}

.identity-text{
    vertical-align: middle;
    line-height: 52px;
    color: #73777a;
    font-size: 14px;
    /*光标是只手*/
    cursor: pointer;
    padding-left: 65px;
}

.form-text{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
}

.form-input{
    width: 300px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form{
    margin-top: 40px;
    padding-left: 85px;
}

.form-btn{
    margin-top: 20px;
    width: 80px;
    height: 40px;
    margin-right: 100px;
}

.form-hidden{
    /*display: none;*/
}

.foot{
    width: 100%;
    background-color: #f4f4f4;
    height: 50px;
}

.foot-container{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}

.register-title{
    font-size: 20px;
    margin-top: 20px;
}

.register-container{
    position: relative;
    height: 650px;
    box-shadow: 0 2px 15px rgba(0,0,0,.15);
    background-color: #fff;
    margin-top: 60px;
}

.form-radio{
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}