<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付成功-FP图书管理系统</title>
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/own.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<!--    <link rel="stylesheet" type="text/css" href="/css/fine.css" />-->
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <script>
        window.setInterval(func,4000);
        function func(){
            window.location.href = "/view/interface";
        }
    </script>
</head>
<body class="login-body">
    <div class="nav">
        <div class="container">
            <div class="row">
                <div  class="col-md-4 top-bar-container">
                    <span class="top-bar-text">FP图书管理系统 | 支付成功</span>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="alert alert-success alert-container">支付成功！即将跳转回用户中心！</div>
    </div>
</body>
</html>