<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncu.bms.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.ncu.bms.bean.Admin">
    <id column="admin_id" jdbcType="VARCHAR" property="admin_id" />
    <result column="admin_name" jdbcType="VARCHAR" property="admin_name" />
    <result column="admin_sex" jdbcType="VARCHAR" property="admin_sex" />
    <result column="admin_contact" jdbcType="VARCHAR" property="admin_contact" />
    <result column="admin_image" jdbcType="VARCHAR" property="admin_image" />
    <result column="admin_ban" jdbcType="INTEGER" property="admin_ban" />
    <result column="admin_pwd" jdbcType="VARCHAR" property="admin_pwd" />
    <result column="admin_root" jdbcType="INTEGER" property="admin_root" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    admin_id, admin_name, admin_sex, admin_contact, admin_image, admin_ban, admin_pwd, 
    admin_root
  </sql>
  <select id="selectByExample" parameterType="com.ncu.bms.bean.AdminExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where admin_id = #{admin_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from admin
    where admin_id = #{admin_id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ncu.bms.bean.AdminExample">
    delete from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ncu.bms.bean.Admin">
    insert into admin (admin_id, admin_name, admin_sex, 
      admin_contact, admin_image, admin_ban, 
      admin_pwd, admin_root)
    values (#{admin_id,jdbcType=VARCHAR}, #{admin_name,jdbcType=VARCHAR}, #{admin_sex,jdbcType=VARCHAR}, 
      #{admin_contact,jdbcType=VARCHAR}, #{admin_image,jdbcType=VARCHAR}, #{admin_ban,jdbcType=INTEGER}, 
      #{admin_pwd,jdbcType=VARCHAR}, #{admin_root,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ncu.bms.bean.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="admin_id != null">
        admin_id,
      </if>
      <if test="admin_name != null">
        admin_name,
      </if>
      <if test="admin_sex != null">
        admin_sex,
      </if>
      <if test="admin_contact != null">
        admin_contact,
      </if>
      <if test="admin_image != null">
        admin_image,
      </if>
      <if test="admin_ban != null">
        admin_ban,
      </if>
      <if test="admin_pwd != null">
        admin_pwd,
      </if>
      <if test="admin_root != null">
        admin_root,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="admin_id != null">
        #{admin_id,jdbcType=VARCHAR},
      </if>
      <if test="admin_name != null">
        #{admin_name,jdbcType=VARCHAR},
      </if>
      <if test="admin_sex != null">
        #{admin_sex,jdbcType=VARCHAR},
      </if>
      <if test="admin_contact != null">
        #{admin_contact,jdbcType=VARCHAR},
      </if>
      <if test="admin_image != null">
        #{admin_image,jdbcType=VARCHAR},
      </if>
      <if test="admin_ban != null">
        #{admin_ban,jdbcType=INTEGER},
      </if>
      <if test="admin_pwd != null">
        #{admin_pwd,jdbcType=VARCHAR},
      </if>
      <if test="admin_root != null">
        #{admin_root,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ncu.bms.bean.AdminExample" resultType="java.lang.Long">
    select count(*) from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update admin
    <set>
      <if test="record.admin_id != null">
        admin_id = #{record.admin_id,jdbcType=VARCHAR},
      </if>
      <if test="record.admin_name != null">
        admin_name = #{record.admin_name,jdbcType=VARCHAR},
      </if>
      <if test="record.admin_sex != null">
        admin_sex = #{record.admin_sex,jdbcType=VARCHAR},
      </if>
      <if test="record.admin_contact != null">
        admin_contact = #{record.admin_contact,jdbcType=VARCHAR},
      </if>
      <if test="record.admin_image != null">
        admin_image = #{record.admin_image,jdbcType=VARCHAR},
      </if>
      <if test="record.admin_ban != null">
        admin_ban = #{record.admin_ban,jdbcType=INTEGER},
      </if>
      <if test="record.admin_pwd != null">
        admin_pwd = #{record.admin_pwd,jdbcType=VARCHAR},
      </if>
      <if test="record.admin_root != null">
        admin_root = #{record.admin_root,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update admin
    set admin_id = #{record.admin_id,jdbcType=VARCHAR},
      admin_name = #{record.admin_name,jdbcType=VARCHAR},
      admin_sex = #{record.admin_sex,jdbcType=VARCHAR},
      admin_contact = #{record.admin_contact,jdbcType=VARCHAR},
      admin_image = #{record.admin_image,jdbcType=VARCHAR},
      admin_ban = #{record.admin_ban,jdbcType=INTEGER},
      admin_pwd = #{record.admin_pwd,jdbcType=VARCHAR},
      admin_root = #{record.admin_root,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncu.bms.bean.Admin">
    update admin
    <set>
      <if test="admin_name != null">
        admin_name = #{admin_name,jdbcType=VARCHAR},
      </if>
      <if test="admin_sex != null">
        admin_sex = #{admin_sex,jdbcType=VARCHAR},
      </if>
      <if test="admin_contact != null">
        admin_contact = #{admin_contact,jdbcType=VARCHAR},
      </if>
      <if test="admin_image != null">
        admin_image = #{admin_image,jdbcType=VARCHAR},
      </if>
      <if test="admin_ban != null">
        admin_ban = #{admin_ban,jdbcType=INTEGER},
      </if>
      <if test="admin_pwd != null">
        admin_pwd = #{admin_pwd,jdbcType=VARCHAR},
      </if>
      <if test="admin_root != null">
        admin_root = #{admin_root,jdbcType=INTEGER},
      </if>
    </set>
    where admin_id = #{admin_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncu.bms.bean.Admin">
    update admin
    set admin_name = #{admin_name,jdbcType=VARCHAR},
      admin_sex = #{admin_sex,jdbcType=VARCHAR},
      admin_contact = #{admin_contact,jdbcType=VARCHAR},
      admin_image = #{admin_image,jdbcType=VARCHAR},
      admin_ban = #{admin_ban,jdbcType=INTEGER},
      admin_pwd = #{admin_pwd,jdbcType=VARCHAR},
      admin_root = #{admin_root,jdbcType=INTEGER}
    where admin_id = #{admin_id,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.ncu.bms.bean.AdminExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <resultMap id="BaseResultMap" type="com.ncu.bms.bean.Admin">
    <id column="admin_id" jdbcType="VARCHAR" property="admin_id" />
    <result column="admin_name" jdbcType="VARCHAR" property="admin_name" />
    <result column="admin_sex" jdbcType="VARCHAR" property="admin_sex" />
    <result column="admin_contact" jdbcType="VARCHAR" property="admin_contact" />
    <result column="admin_image" jdbcType="VARCHAR" property="admin_image" />
    <result column="admin_ban" jdbcType="INTEGER" property="admin_ban" />
    <result column="admin_pwd" jdbcType="VARCHAR" property="admin_pwd" />
    <result column="admin_root" jdbcType="INTEGER" property="admin_root" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    admin_id, admin_name, admin_sex, admin_contact, admin_image, admin_ban, admin_pwd, 
    admin_root
  </sql>
  <select id="selectByExample" parameterType="com.ncu.bms.bean.AdminExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where admin_id = #{admin_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from admin
    where admin_id = #{admin_id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ncu.bms.bean.AdminExample">
    delete from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ncu.bms.bean.Admin">
    insert into admin (admin_id, admin_name, admin_sex, 
      admin_contact, admin_image, admin_ban, 
      admin_pwd, admin_root)
    values (#{admin_id,jdbcType=VARCHAR}, #{admin_name,jdbcType=VARCHAR}, #{admin_sex,jdbcType=VARCHAR}, 
      #{admin_contact,jdbcType=VARCHAR}, #{admin_image,jdbcType=VARCHAR}, #{admin_ban,jdbcType=INTEGER}, 
      #{admin_pwd,jdbcType=VARCHAR}, #{admin_root,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ncu.bms.bean.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="admin_id != null">
        admin_id,
      </if>
      <if test="admin_name != null">
        admin_name,
      </if>
      <if test="admin_sex != null">
        admin_sex,
      </if>
      <if test="admin_contact != null">
        admin_contact,
      </if>
      <if test="admin_image != null">
        admin_image,
      </if>
      <if test="admin_ban != null">
        admin_ban,
      </if>
      <if test="admin_pwd != null">
        admin_pwd,
      </if>
      <if test="admin_root != null">
        admin_root,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="admin_id != null">
        #{admin_id,jdbcType=VARCHAR},
      </if>
      <if test="admin_name != null">
        #{admin_name,jdbcType=VARCHAR},
      </if>
      <if test="admin_sex != null">
        #{admin_sex,jdbcType=VARCHAR},
      </if>
      <if test="admin_contact != null">
        #{admin_contact,jdbcType=VARCHAR},
      </if>
      <if test="admin_image != null">
        #{admin_image,jdbcType=VARCHAR},
      </if>
      <if test="admin_ban != null">
        #{admin_ban,jdbcType=INTEGER},
      </if>
      <if test="admin_pwd != null">
        #{admin_pwd,jdbcType=VARCHAR},
      </if>
      <if test="admin_root != null">
        #{admin_root,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ncu.bms.bean.AdminExample" resultType="java.lang.Long">
    select count(*) from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update admin
    <set>
      <if test="record.admin_id != null">
        admin_id = #{record.admin_id,jdbcType=VARCHAR},
      </if>
      <if test="record.admin_name != null">
        admin_name = #{record.admin_name,jdbcType=VARCHAR},
      </if>
      <if test="record.admin_sex != null">
        admin_sex = #{record.admin_sex,jdbcType=VARCHAR},
      </if>
      <if test="record.admin_contact != null">
        admin_contact = #{record.admin_contact,jdbcType=VARCHAR},
      </if>
      <if test="record.admin_image != null">
        admin_image = #{record.admin_image,jdbcType=VARCHAR},
      </if>
      <if test="record.admin_ban != null">
        admin_ban = #{record.admin_ban,jdbcType=INTEGER},
      </if>
      <if test="record.admin_pwd != null">
        admin_pwd = #{record.admin_pwd,jdbcType=VARCHAR},
      </if>
      <if test="record.admin_root != null">
        admin_root = #{record.admin_root,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update admin
    set admin_id = #{record.admin_id,jdbcType=VARCHAR},
      admin_name = #{record.admin_name,jdbcType=VARCHAR},
      admin_sex = #{record.admin_sex,jdbcType=VARCHAR},
      admin_contact = #{record.admin_contact,jdbcType=VARCHAR},
      admin_image = #{record.admin_image,jdbcType=VARCHAR},
      admin_ban = #{record.admin_ban,jdbcType=INTEGER},
      admin_pwd = #{record.admin_pwd,jdbcType=VARCHAR},
      admin_root = #{record.admin_root,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncu.bms.bean.Admin">
    update admin
    <set>
      <if test="admin_name != null">
        admin_name = #{admin_name,jdbcType=VARCHAR},
      </if>
      <if test="admin_sex != null">
        admin_sex = #{admin_sex,jdbcType=VARCHAR},
      </if>
      <if test="admin_contact != null">
        admin_contact = #{admin_contact,jdbcType=VARCHAR},
      </if>
      <if test="admin_image != null">
        admin_image = #{admin_image,jdbcType=VARCHAR},
      </if>
      <if test="admin_ban != null">
        admin_ban = #{admin_ban,jdbcType=INTEGER},
      </if>
      <if test="admin_pwd != null">
        admin_pwd = #{admin_pwd,jdbcType=VARCHAR},
      </if>
      <if test="admin_root != null">
        admin_root = #{admin_root,jdbcType=INTEGER},
      </if>
    </set>
    where admin_id = #{admin_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncu.bms.bean.Admin">
    update admin
    set admin_name = #{admin_name,jdbcType=VARCHAR},
      admin_sex = #{admin_sex,jdbcType=VARCHAR},
      admin_contact = #{admin_contact,jdbcType=VARCHAR},
      admin_image = #{admin_image,jdbcType=VARCHAR},
      admin_ban = #{admin_ban,jdbcType=INTEGER},
      admin_pwd = #{admin_pwd,jdbcType=VARCHAR},
      admin_root = #{admin_root,jdbcType=INTEGER}
    where admin_id = #{admin_id,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.ncu.bms.bean.AdminExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>