<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncu.bms.dao.BookMapper">
  <resultMap id="BaseResultMap" type="com.ncu.bms.bean.Book">
    <id column="book_No" jdbcType="VARCHAR" property="book_No" />
    <result column="book_name" jdbcType="VARCHAR" property="book_name" />
    <result column="book_author" jdbcType="VARCHAR" property="book_author" />
    <result column="book_publisher" jdbcType="VARCHAR" property="book_publisher" />
    <result column="book_bio" jdbcType="VARCHAR" property="book_bio" />
    <result column="book_category" jdbcType="VARCHAR" property="book_category" />
    <result column="book_price" jdbcType="REAL" property="book_price" />
    <result column="book_number" jdbcType="INTEGER" property="book_number" />
    <result column="book_image" jdbcType="VARCHAR" property="book_image" />
    <result column="book_ban" jdbcType="INTEGER" property="book_ban" />
    <result column="book_limit" jdbcType="INTEGER" property="book_limit" />
    <result column="book_per_day" jdbcType="REAL" property="book_per_day" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    book_No, book_name, book_author, book_publisher, book_bio, book_category, book_price, 
    book_number, book_image, book_ban, book_limit, book_per_day
  </sql>
  <select id="selectByExample" parameterType="com.ncu.bms.bean.BookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where book_No = #{book_No,jdbcType=VARCHAR}
  </select>
  <!--自定义-->
  <select id="selectByBookSelective" parameterType="com.ncu.bms.bean.Book" resultMap="BaseResultMap">
    select * from book
    <where>
      <if test="book_No != null">
        and book_No = #{book_No,jdbcType=VARCHAR}
      </if>
      <if test="book_name != null">
        and book_name = #{book_name,jdbcType=VARCHAR}
      </if>
      <if test="book_author != null">
        and book_author = #{book_author,jdbcType=VARCHAR}
      </if>
      <if test="book_publisher != null">
        and book_publisher = #{book_publisher,jdbcType=VARCHAR}
      </if>
      <if test="book_category != null">
        and book_category = #{book_category,jdbcType=VARCHAR}
      </if>
      <if test="book_price != null">
        and book_price = #{book_price,jdbcType=REAL}
      </if>
      <if test="book_number != null and book_number == 0">
        and book_ban != 1
      </if>
      <if test="book_number != null and book_number == 1">
        and book_number > 0 and book_ban != 1
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from book
    where book_No = #{book_No,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ncu.bms.bean.BookExample">
    delete from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ncu.bms.bean.Book">
    insert into book (book_No, book_name, book_author, 
      book_publisher, book_bio, book_category, 
      book_price, book_number, book_image, 
      book_ban, book_limit, book_per_day
      )
    values (#{book_No,jdbcType=VARCHAR}, #{book_name,jdbcType=VARCHAR}, #{book_author,jdbcType=VARCHAR}, 
      #{book_publisher,jdbcType=VARCHAR}, #{book_bio,jdbcType=VARCHAR}, #{book_category,jdbcType=VARCHAR}, 
      #{book_price,jdbcType=REAL}, #{book_number,jdbcType=INTEGER}, #{book_image,jdbcType=VARCHAR}, 
      #{book_ban,jdbcType=INTEGER}, #{book_limit,jdbcType=INTEGER}, #{book_per_day,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ncu.bms.bean.Book">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="book_No != null">
        book_No,
      </if>
      <if test="book_name != null">
        book_name,
      </if>
      <if test="book_author != null">
        book_author,
      </if>
      <if test="book_publisher != null">
        book_publisher,
      </if>
      <if test="book_bio != null">
        book_bio,
      </if>
      <if test="book_category != null">
        book_category,
      </if>
      <if test="book_price != null">
        book_price,
      </if>
      <if test="book_number != null">
        book_number,
      </if>
      <if test="book_image != null">
        book_image,
      </if>
      <if test="book_ban != null">
        book_ban,
      </if>
      <if test="book_limit != null">
        book_limit,
      </if>
      <if test="book_per_day != null">
        book_per_day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="book_No != null">
        #{book_No,jdbcType=VARCHAR},
      </if>
      <if test="book_name != null">
        #{book_name,jdbcType=VARCHAR},
      </if>
      <if test="book_author != null">
        #{book_author,jdbcType=VARCHAR},
      </if>
      <if test="book_publisher != null">
        #{book_publisher,jdbcType=VARCHAR},
      </if>
      <if test="book_bio != null">
        #{book_bio,jdbcType=VARCHAR},
      </if>
      <if test="book_category != null">
        #{book_category,jdbcType=VARCHAR},
      </if>
      <if test="book_price != null">
        #{book_price,jdbcType=REAL},
      </if>
      <if test="book_number != null">
        #{book_number,jdbcType=INTEGER},
      </if>
      <if test="book_image != null">
        #{book_image,jdbcType=VARCHAR},
      </if>
      <if test="book_ban != null">
        #{book_ban,jdbcType=INTEGER},
      </if>
      <if test="book_limit != null">
        #{book_limit,jdbcType=INTEGER},
      </if>
      <if test="book_per_day != null">
        #{book_per_day,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ncu.bms.bean.BookExample" resultType="java.lang.Long">
    select count(*) from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update book
    <set>
      <if test="record.book_No != null">
        book_No = #{record.book_No,jdbcType=VARCHAR},
      </if>
      <if test="record.book_name != null">
        book_name = #{record.book_name,jdbcType=VARCHAR},
      </if>
      <if test="record.book_author != null">
        book_author = #{record.book_author,jdbcType=VARCHAR},
      </if>
      <if test="record.book_publisher != null">
        book_publisher = #{record.book_publisher,jdbcType=VARCHAR},
      </if>
      <if test="record.book_bio != null">
        book_bio = #{record.book_bio,jdbcType=VARCHAR},
      </if>
      <if test="record.book_category != null">
        book_category = #{record.book_category,jdbcType=VARCHAR},
      </if>
      <if test="record.book_price != null">
        book_price = #{record.book_price,jdbcType=REAL},
      </if>
      <if test="record.book_number != null">
        book_number = #{record.book_number,jdbcType=INTEGER},
      </if>
      <if test="record.book_image != null">
        book_image = #{record.book_image,jdbcType=VARCHAR},
      </if>
      <if test="record.book_ban != null">
        book_ban = #{record.book_ban,jdbcType=INTEGER},
      </if>
      <if test="record.book_limit != null">
        book_limit = #{record.book_limit,jdbcType=INTEGER},
      </if>
      <if test="record.book_per_day != null">
        book_per_day = #{record.book_per_day,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update book
    set book_No = #{record.book_No,jdbcType=VARCHAR},
      book_name = #{record.book_name,jdbcType=VARCHAR},
      book_author = #{record.book_author,jdbcType=VARCHAR},
      book_publisher = #{record.book_publisher,jdbcType=VARCHAR},
      book_bio = #{record.book_bio,jdbcType=VARCHAR},
      book_category = #{record.book_category,jdbcType=VARCHAR},
      book_price = #{record.book_price,jdbcType=REAL},
      book_number = #{record.book_number,jdbcType=INTEGER},
      book_image = #{record.book_image,jdbcType=VARCHAR},
      book_ban = #{record.book_ban,jdbcType=INTEGER},
      book_limit = #{record.book_limit,jdbcType=INTEGER},
      book_per_day = #{record.book_per_day,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncu.bms.bean.Book">
    update book
    <set>
      <if test="book_name != null">
        book_name = #{book_name,jdbcType=VARCHAR},
      </if>
      <if test="book_author != null">
        book_author = #{book_author,jdbcType=VARCHAR},
      </if>
      <if test="book_publisher != null">
        book_publisher = #{book_publisher,jdbcType=VARCHAR},
      </if>
      <if test="book_bio != null">
        book_bio = #{book_bio,jdbcType=VARCHAR},
      </if>
      <if test="book_category != null">
        book_category = #{book_category,jdbcType=VARCHAR},
      </if>
      <if test="book_price != null">
        book_price = #{book_price,jdbcType=REAL},
      </if>
      <if test="book_number != null">
        book_number = #{book_number,jdbcType=INTEGER},
      </if>
      <if test="book_image != null">
        book_image = #{book_image,jdbcType=VARCHAR},
      </if>
      <if test="book_ban != null">
        book_ban = #{book_ban,jdbcType=INTEGER},
      </if>
      <if test="book_limit != null">
        book_limit = #{book_limit,jdbcType=INTEGER},
      </if>
      <if test="book_per_day != null">
        book_per_day = #{book_per_day,jdbcType=REAL},
      </if>
    </set>
    where book_No = #{book_No,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncu.bms.bean.Book">
    update book
    set book_name = #{book_name,jdbcType=VARCHAR},
      book_author = #{book_author,jdbcType=VARCHAR},
      book_publisher = #{book_publisher,jdbcType=VARCHAR},
      book_bio = #{book_bio,jdbcType=VARCHAR},
      book_category = #{book_category,jdbcType=VARCHAR},
      book_price = #{book_price,jdbcType=REAL},
      book_number = #{book_number,jdbcType=INTEGER},
      book_image = #{book_image,jdbcType=VARCHAR},
      book_ban = #{book_ban,jdbcType=INTEGER},
      book_limit = #{book_limit,jdbcType=INTEGER},
      book_per_day = #{book_per_day,jdbcType=REAL}
    where book_No = #{book_No,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.ncu.bms.bean.BookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>